In [1]:
import pandas as pd
import os
import re

In [12]:
atividades = pd.read_csv('./Atividades.csv', sep=';')
atividades

,cod_atividade,setor,descricao,tempo_medio,usuario
0,101,SECRETARIA,XEROX GRAZIELE,1,me2totmdhsstx0heyb0rf7tc
1,102,SECRETARIA,XEROX SABENÇA,1,me2totmdhsstx0heyb0rf7tc
2,103,SECRETARIA,XEROX DIVERSAS,1,me2totmdhsstx0heyb0rf7tc
3,104,SECRETARIA,ENCADERNAÇÃO DIVERSAS,1,me2totmdhsstx0heyb0rf7tc
4,105,SECRETARIA,DIGITALIZAÇÃO DIVERSAS,1,me2totmdhsstx0heyb0rf7tc
...,...,...,...,...,...
78,1407,SEGURANÇA DO TRABALHO,FICHA DE PTE,1,me2totmdhsstx0heyb0rf7tc
79,1408,SEGURANÇA DO TRABALHO,LISTA DE PRESENÇA DE TREINAMENTO,1,me2totmdhsstx0heyb0rf7tc
80,1409,SEGURANÇA DO TRABALHO,ORGANIZAÇÃO DOS GRUPOS,1,me2totmdhsstx0heyb0rf7tc
81,1501,MECÂNICA,DIGITALIZAÇÃO OM's,1,me2totmdhsstx0heyb0rf7tc
82,1502,MECÂNICA,LANÇAMENTO PLANILHA SEMAC - MECÂNICA,1,me2totmdhsstx0heyb0rf7tc

In [7]:
from sqlalchemy import create_engine

engine = create_engine("postgresql+psycopg2://postgres:Leer2025@localhost:5432/PJASisTarefas")

In [13]:
atividades.to_sql(
  "Atividade",
  engine,
  if_exists="append",
  index=False
)

83

In [ ]:
tarefas = pd.read_csv('./Tarefas.csv', sep=';')
tarefas.info()

In [27]:
def converter_data_em_numero(data: str) -> int:
    partes = data.split(":")
    if len(partes) != 2:
        raise ValueError('Formato inválido. Use "HH:MM".')
    
    horas, minutos = map(int, partes)
    return horas * 60 + minutos

In [34]:
tarefas['h_inicio'] = tarefas['h_inicio'].apply(converter_data_em_numero)
tarefas['h_termino'] = tarefas['h_termino'].apply(converter_data_em_numero)

In [35]:
tarefas.to_sql(
  "tarefas",
  engine,
  if_exists="append",
  index=False
)

823